<style>
    .custom_css{
        height: 800px;
        
    }
 </style>
<div class="boxed_wrapper ltr">

    <section class="breadcrumb-area custom_css" [style.backgroundImage]="'url('+ customCss +')'">
        
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="inner-content text-center clearfix">
                        <div class="title wow slideInDown animated" data-wow-delay="0.3s" data-wow-duration="1500ms">
                           <h2>{{data.name}}</h2>
                        </div>
                        <div class="breadcrumb-menu wow slideInUp animated" data-wow-delay="0.3s" data-wow-duration="1500ms">
                            <ul class="clearfix">
                                <li>{{data.location}}</li>
                                <li class="active">{{data.estimated_launch}}</li>
                            </ul>    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> 

    <section class="brief-desc-area">
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="brief-desc-image-box">
                    <div class="pattern-bg" style="background-image: url(assets/images/pattern/brief-desc-image-box.png)"></div>
                    <div class="inner">
                        <img src="assets/houseTypes/{{data.image}}" alt="">
                    </div>    
                </div>
            </div>
            <div class="col-xl-6">
                <div class="brief-desc-content-box">
                    <div class="sec-title style3">
                        <div class="title-icon">
                            <span class="icon-design"></span>
                        </div>
                        <div class="sub-title">
                            <h4>Modern &amp; Luxury Villa</h4>
                        </div>
                        <h2>Brief Description</h2>
                    </div>
                    <div class="inner-content">
                        <div class="text">
                            <p>{{ data.description}}</p>
                        </div>
                        <ul>
                            <li>
                                <div class="inner">   
                                    <div class="icon">
                                        <span class="icon-icon25 thm_clr1"></span>
                                    </div>
                                    <div class="title">
                                        <h5>Total Space</h5>
                                        <h3>{{ data.total_size}}<sup>m2</sup></h3>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="inner">   
                                    <div class="icon">
                                        <span class="icon-icon34 thm_clr1"></span>
                                    </div>
                                    <div class="title">
                                        <h5>Living Area</h5>
                                        <h3>{{ data.living_area}}<sup>m2</sup></h3>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="inner">   
                                    <div class="icon">
                                        <span class="icon-icon28 thm_clr1"></span>
                                    </div>
                                    <div class="title">
                                        <h5>Bedrooms</h5>
                                        <h3>{{ data.bedrooms}}</h3>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="inner">   
                                    <div class="icon">
                                        <span class="icon-icon35 thm_clr1"></span>
                                    </div>
                                    <div class="title">
                                        <h5>Bathrooms</h5>
                                        <h3>{{ data.bathrooms}}</h3>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="inner">   
                                    <div class="icon">
                                        <span class="icon-icon33 thm_clr1"></span>
                                    </div>
                                    <div class="title">
                                        <h5>Kitchen</h5>
                                        <h3>{{ data.kitchen}}</h3>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="inner">   
                                    <div class="icon">
                                        <span class="icon-icon36 thm_clr1"></span>
                                    </div>
                                    <div class="title">
                                        <h5>Floor Space</h5>
                                        <h3>{{ data.floor_space}}<sup>m2</sup></h3>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        
                        <div class="button-box">
                            <a class="btn-two" href="#"><span class="txt">Get In Touch</span></a>
                        </div>
                    
                    </div>
                </div>    
            </div>
        </div>
    </div>
</section>
  
<section class="gallery-area pdtop0">
    <div class="container-box">
        <div class="row">
            <!--Start Single Gallery Item-->
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="single-gallery-item">
                    <div class="img-holder">
                        <img src="assets/images/gallery/gallery-v1-1.jpg" alt="Awesome Image">
                        <div class="zoom-button">
                            <a class="lightbox-image" data-fancybox="gallery" href="assets/images/gallery/gallery-v1-1.jpg">
                                <i class="fa fa-search-plus" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>    
                </div>
            </div>
            <!--End Single Gallery Item-->
            <!--Start Single Gallery Item-->
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="single-gallery-item">
                    <div class="img-holder">
                        <img src="assets/images/gallery/gallery-v1-2.jpg" alt="Awesome Image">
                        <div class="zoom-button">
                            <a class="lightbox-image" data-fancybox="gallery" href="assets/images/gallery/gallery-v1-2.jpg">
                                <i class="fa fa-search-plus" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>    
                </div>
            </div>
            <!--End Single Gallery Item-->
            <!--Start Single Gallery Item-->
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="single-gallery-item">
                    <div class="img-holder">
                        <img src="assets/images/gallery/gallery-v1-3.jpg" alt="Awesome Image">
                        <div class="zoom-button">
                            <a class="lightbox-image" data-fancybox="gallery" href="assets/images/gallery/gallery-v1-3.jpg">
                                <i class="fa fa-search-plus" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>    
                </div>
            </div>
            <!--End Single Gallery Item-->
            <!--Start Single Gallery Item-->
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="single-gallery-item">
                    <div class="img-holder">
                        <img src="assets/images/gallery/gallery-v1-4.jpg" alt="Awesome Image">
                        <div class="zoom-button">
                            <a class="lightbox-image" data-fancybox="gallery" href="assets/images/gallery/gallery-v1-4.jpg">
                                <i class="fa fa-search-plus" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>    
                </div>
            </div>
            <!--End Single Gallery Item--> 
            <!--Start Single Gallery Item-->
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="single-gallery-item">
                    <div class="img-holder">
                        <img src="assets/images/gallery/gallery-v1-5.jpg" alt="Awesome Image">
                        <div class="zoom-button">
                            <a class="lightbox-image" data-fancybox="gallery" href="assets/images/gallery/gallery-v1-5.jpg">
                                <i class="fa fa-search-plus" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>    
                </div>
            </div>
            <!--End Single Gallery Item-->
            <!--Start Single Gallery Item-->
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="single-gallery-item">
                    <div class="img-holder">
                        <img src="assets/images/gallery/gallery-v1-6.jpg" alt="Awesome Image">
                        <div class="zoom-button">
                            <a class="lightbox-image" data-fancybox="gallery" href="assets/images/gallery/gallery-v1-6.jpg">
                                <i class="fa fa-search-plus" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>    
                </div>
            </div>
            <!--End Single Gallery Item--> 
            <!--Start Single Gallery Item-->
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="single-gallery-item">
                    <div class="img-holder">
                        <img src="assets/images/gallery/gallery-v1-7.jpg" alt="Awesome Image">
                        <div class="zoom-button">
                            <a class="lightbox-image" data-fancybox="gallery" href="assets/images/gallery/gallery-v1-7.jpg">
                                <i class="fa fa-search-plus" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>    
                </div>
            </div>
            <!--End Single Gallery Item-->
            <!--Start Single Gallery Item-->
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="single-gallery-item">
                    <div class="img-holder">
                        <img src="assets/images/gallery/gallery-v1-8.jpg" alt="Awesome Image">
                        <div class="zoom-button">
                            <a class="lightbox-image" data-fancybox="gallery" href="assets/images/gallery/gallery-v1-8.jpg">
                                <i class="fa fa-search-plus" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>    
                </div>
            </div>
            <!--End Single Gallery Item-->                       
        </div>
    </div>
</section>
<section class="video-gallery-area">
    <div class="container-fullwidth" style="background-image: url(assets/images/resources/video-gallery-bg.jpg)">
        <div class="row">
            <div class="col-xl-12">
                <div class="video-holder-box text-center">
                    <div class="icon wow zoomIn" data-wow-delay="300ms" data-wow-duration="1500ms" style="visibility: visible;">
                        <div class="border-box"></div>
                        <a class="video-popup thm_bgclr1" title="CarePress Video Gallery" href="https://www.youtube.com/watch?v=p25gICT63ek">
                            <img src="assets/images/icon/play-btn.png" alt="">
                        </a>
                    </div>
                    <h2>Apartio offers excellent<br> combination of location &amp; quality </h2>
                    <p>Take a Full Video Tour</p>
                </div>    
            </div>
            
        </div>
    </div>
</section>

<section class="floor-plans-area">
    <div class="container">
        <div class="sec-title text-center">
            <div class="title-icon">
                <span class="icon-design"></span>
            </div>
            <div class="sub-title">
                <h4>Apartio Perfect Construction</h4>
            </div>
            <h2>Floor Plan</h2>

        </div>
        <section >
        
            <img src="./assets/FloorPlans/{{floorPlanCss}}" alt="" style="height: 800px; width: 100%; padding-left: 30px;padding-right: 30px; position: relative;">
            
        </section>
    </div>
</section>
  
</div> 
  
  
<button class="scroll-top scroll-to-target thm_bgclr1" data-target="html">
      <span class="fa fa-angle-up"></span>
</button> 







  
  