
  <!-- <body data-layout="horizontal"> -->
    <div></div>
    <div class="auth-page bg-white bor  " style="background-color: gainsboro;">
      <div class="container-fluid p-0">
          <div class="row g-0">
              <div class="col-xxl-3 col-lg-4 col-md-5">
                  <div class="auth-full-page-content d-flex p-sm-5 p-4">
                      <div class="w-100">
                          <div class="d-flex flex-column h-100">
                              <div class="auth-content my-auto">
                                  <div class="text-center">
                                      <h5 class="mb-0">Welcome Back !</h5>
                                      <p class="text-muted mt-2">Sign in to continue.</p>
                                  </div>
                                  <app-message></app-message>
                             
                                  <form role="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                                    <div class="form-group mb-3">
                                      <div class="input-group input-group-alternative">
                                        <div class="input-group-prepend">
                                          <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                        </div>
                                        <input  formControlName="username" class="form-control" placeholder="User Name" >
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <div class="input-group input-group-alternative">
                                        <div class="input-group-prepend">
                                          <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                        </div>
                                        <input formControlName="password" class="form-control" placeholder="Password" type="password">
                                      </div>
                                    </div>
                                    <div class="custom-control custom-control-alternative custom-checkbox">
                                      <input class="custom-control-input" id=" customCheckLogin" type="checkbox">
                                      <label class="custom-control-label" for=" customCheckLogin">
                                        <span class="text-muted">Remember me</span>
                                      </label>
                                    </div>
                                    <div class="text-center">
                                      <button type="submit" class="btn btn-primary my-4">Sign in</button>
                                    </div>
                                  </form>

                                  <div class="mt-5 text-center">
                                      <p class="text-muted mb-0">Don't have an account ? <a href="/auth/signup"
                                              class="text-primary fw-semibold"> Signup now </a> </p>
                                  </div>
                              </div>
                             
                          </div>
                      </div>
                  </div>
                  <!-- end auth full page content -->
              </div>
              <!-- end col -->
              <div class="col-xxl-9 col-lg-8 col-md-7">
                  <div class="auth-bg pt-md-5 p-4 d-flex">
                      <div class="bg-overlay bg-primary"></div>
                      <ul class="bg-bubbles">
                          <li></li>
                          <li></li>
                          <li></li>
                          <li></li>
                          <li></li>
                          <li></li>
                          <li></li>
                          <li></li>
                          <li></li>
                          <li></li>
                      </ul>
                      <!-- end bubble effect -->
                   
                  </div>
              </div>
              <!-- end col -->
          </div>
          <!-- end row -->
         
      </div>
      <!-- end container fluid -->
  </div>


  
