<!--Start breadcrumb area-->     
<section class="breadcrumb-area" style="background-image: url(assets/images/breadcrumb/breadcrumb-1.jpg);">
    <div class="border-box">
        <ul>
            <li></li>
            <li class="middle"></li>
            <li></li>
        </ul>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="inner-content text-center clearfix">
                    <div class="title wow slideInDown animated" data-wow-delay="0.3s" data-wow-duration="1500ms">
                       <h2>About Us</h2>
                    </div>
                    <div class="breadcrumb-menu wow slideInUp animated" data-wow-delay="0.3s" data-wow-duration="1500ms">
                        <ul class="clearfix">
                            <li><a href="index-2.html">Home</a></li>
                            <li class="active">About</li>
                        </ul>    
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End breadcrumb area-->
<!--Start Welcome Style1 Area-->
<section class="welcome-style1-area">
    <div class="container">
        <div class="sec-title text-center">
            <div class="title-icon">
                <span class="icon-design"></span>
            </div>
            <div class="sub-title">
                <h4>Welcome To Apartio Real Estate</h4>
            </div>
            <h2>OUTSTANDING & stunning views<br> experience a better life</h2>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="welcome-style1-content">
                    
                    <div class="top">
                        <ul>
                            <li>
                              
                                <div class=" img-box">
                                    <div class="inner">
                                        <img src="assets/images/resources/welcome-1.jpg" alt="">
                                    </div>
                                </div>
                                <div class=" pl-8 text-box">
                                    <h2>A Dream Living Space</h2>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed tempor incididunt ut labore et <br>dolore magna aliqua. Ut enim veniam quis nostrud exercitation lamco.</p>
                                    <div class="theme-shape pdtop30">
                                        <ul class="theme-shape-box clearfix text-center">
                                            <li class="shap_item paroller-2"><span class="icon-pic1"></span></li>
                                            <li class="shap_item paroller-2"><span class="icon-pic2"></span></li>
                                            <li class="shap_item paroller-2"><span class="icon-pic3"></span></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    
                    <div class="bottom">
                        <ul>
                            <li>
                                <div class="text-box">
                                    <h2>No-Compromise Quality</h2>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed tempor incididunt ut labore et dolore magna aliqua. Ut enim veniam quis nostrud exercitation lamco.</p>
                                    <div class="theme-shape pdtop30">
                                        <ul class="theme-shape-box clearfix text-center">
                                            <li class="shap_item paroller-2"><span class="icon-pic1"></span></li>
                                            <li class="shap_item paroller-2"><span class="icon-pic2"></span></li>
                                            <li class="shap_item paroller-2"><span class="icon-pic3"></span></li>
                                        </ul>
                                    </div>
                                </div>
                              
                                <div class="img-box ">
                                    <div class="inner">
                                        <img src="assets/images/resources/welcome-2.jpg" alt="">
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Welcome Style1 Area-->
<!--Start Fact Counter Style2 Area-->
<section class="fact-counter-style2-area style2instyle4 about-page">
    <div class="layer-outer" style="background-image: url(assets/images/shape/fact-counter-about-page-shape.png)"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="fact-counter-style2">
                    <ul class="fact-counter-box-style2 clearfix">
                        <!--Start Single Fact Counter-->
                        <li class="single-fact-counter-style2 style2instyle4 wow fadeInUp text-center" data-wow-delay="100ms" data-wow-duration="1500ms">
                            <div class="sub-title">
                                <h5>Floor & Units</h5>    
                            </div>
                            <div class="icon-box">
                                <span class="icon-icon25"></span>
                            </div>
                            <div class="count-box">
                                <h2>
                                    <span class="timer" data-from="1" data-to="154" data-speed="5000" data-refresh-interval="50">154</span>
                                </h2>
                            </div>
                        </li>
                        <!--End Single Fact Counter-->
                        <!--Start Single Fact Counter-->
                        <li class="single-fact-counter-style2 style2instyle4 wow fadeInUp text-center" data-wow-delay="300ms" data-wow-duration="1500ms">
                            <div class="sub-title">
                                <h5>Apartments Sold</h5>    
                            </div>
                            <div class="icon-box">
                                <span class="icon-icon54"></span>
                            </div>
                            <div class="count-box">
                                <h2>
                                    <span class="timer" data-from="1" data-to="97" data-speed="5000" data-refresh-interval="50">97</span>
                                </h2>
                            </div>
                        </li>
                        <!--End Single Fact Counter-->
                        <!--Start Single Fact Counter-->
                        <li class="single-fact-counter-style2 style2instyle4 wow fadeInUp text-center" data-wow-delay="500ms" data-wow-duration="1500ms">
                            <div class="sub-title">
                                <h5>Total Constructions</h5>    
                            </div>
                            <div class="icon-box">
                                <span class="icon-icon55"></span>
                            </div>
                            <div class="count-box">
                                <h2>
                                    <span class="timer" data-from="1" data-to="368" data-speed="5000" data-refresh-interval="50">368</span>
                                </h2>
                            </div>
                        </li>
                        <!--End Single Fact Counter-->
                        <!--Start Single Fact Counter-->
                        <li class="single-fact-counter-style2 style2instyle4 wow fadeInUp text-center" data-wow-delay="700ms" data-wow-duration="1500ms">
                            <div class="sub-title">
                                <h5>Our Amenities</h5>    
                            </div>
                            <div class="icon-box">
                                <span class="icon-icon28"></span>
                            </div>
                            <div class="count-box">
                                <h2>
                                    <span class="timer" data-from="1" data-to="40" data-speed="5000" data-refresh-interval="50">40</span>
                                </h2>
                            </div>
                        </li>
                        <!--End Single Fact Counter-->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>   
<!--End Fact Counter Style2 Area-->

<!--Start features style2 Area-->
<section class="features-style2-area about-page">
    <div class="container">
        <div class="sec-title text-center">
            <div class="title-icon">
                <span class="icon-design"></span>
            </div>
            <div class="sub-title">
                <h4>What Make Apartio Different From Others</h4>
            </div>
            <h2>our goals & mission</h2>
        </div>
        <div class="row">
            <!--Start Single Features Box Style2-->
            <div class="col-xl-4 col-lg-4">
                <div class="single-features-box-style2 text-center">
                    <div class="icon-holder">
                        <div class="inner">
                            <span class="icon-icon31"></span>
                        </div>
                    </div>
                    <div class="text-holder">
                        <h3>The New Approach</h3>
                        <p>Duis aute irure dolor reprehs sint derit sed duiys fugiat nulla pariatur excepteur volpate lorem ipsum dolor.</p>
                    </div>    
                </div>
            </div>
            <!--End Single Features Box Style2-->
            <!--Start Single Features Box Style2-->
            <div class="col-xl-4 col-lg-4">
                <div class="single-features-box-style2 text-center">
                    <div class="icon-holder">
                        <div class="inner">
                            <span class="icon-icon30"></span>
                        </div>
                    </div>
                    <div class="text-holder">
                        <h3>The Perfect Mission</h3>
                        <p>Duis aute irure dolor reprehs sint derit sed duiys fugiat nulla pariatur excepteur volpate lorem ipsum dolor.</p>
                    </div>    
                </div>
            </div>
            <!--End Single Features Box Style2-->
            <!--Start Single Features Box Style2-->
            <div class="col-xl-4 col-lg-4">
                <div class="single-features-box-style2 text-center">
                    <div class="icon-holder">
                        <div class="inner">
                            <span class="icon-icon56"></span>
                        </div>
                    </div>
                    <div class="text-holder">
                        <h3>The Dedicated Values</h3>
                        <p>Duis aute irure dolor reprehs sint derit sed duiys fugiat nulla pariatur excepteur volpate lorem ipsum dolor.</p>
                    </div>    
                </div>
            </div>
            <!--End Single Features Box Style2-->
        </div>
    </div>
</section>
<!--End features style2 Area-->



<!--Start Team Style1 Area-->
<section class="team-style1-area">
    <div class="container">
        <div class="sec-title text-center">
            <div class="title-icon">
                <span class="icon-design"></span>
            </div>
            <div class="sub-title">
                <h4>People Behind Stylish Living Space</h4>
            </div>
            <h2>meet our team</h2>
        </div>
        <div class="row">
            <!--Start Single Team Item-->
            <div class="col-xl-4 col-lg-4">
                <div class="single-team-item">
                    <div class="img-holder">
                        <div class="inner">
                            <img src="assets/images/team/team-v1-1.jpg" alt="">
                        </div>
                        <div class="title-outer-box clearfix">
                            <div class="inner clearfix">
                                <div class="title-holder">
                                    <h3><a href="#">William Lowery</a></h3>
                                    <p>Manager Apartio</p>
                                </div>
                                <div class="title-holder overlay">
                                    <h3><a href="#">William Lowery</a></h3>
                                    <p>Manager Apartio</p>
                                    <div class="social-icon">
                                        <ul>
                                            <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#" class="twitter"><i class="fa fa-twitter-square"></i></a></li>
                                            <li><a href="#" class="pinterest"><i class="fa fa-pinterest-p"></i></a></li>
                                            <li><a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>  
                </div>
            </div>
            <!-- End Single Team Item-->
            <!--Start Single Team Item-->
            <div class="col-xl-4 col-lg-4">
                <div class="single-team-item">
                    <div class="img-holder">
                        <div class="inner">
                            <img src="assets/images/team/team-v1-2.jpg" alt="">
                        </div>
                        <div class="title-outer-box clearfix">
                            <div class="inner clearfix">
                                <div class="title-holder">
                                    <h3><a href="#">Christina Jersy</a></h3>
                                    <p>Project Manager</p>
                                </div>
                                <div class="title-holder overlay">
                                    <h3><a href="#">Christina Jersy</a></h3>
                                    <p>Project Manager</p>
                                    <div class="social-icon">
                                        <ul>
                                            <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#" class="twitter"><i class="fa fa-twitter-square"></i></a></li>
                                            <li><a href="#" class="pinterest"><i class="fa fa-pinterest-p"></i></a></li>
                                            <li><a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>  
                </div>
            </div>
            <!-- End Single Team Item-->
            <!--Start Single Team Item-->
            <div class="col-xl-4 col-lg-4">
                <div class="single-team-item">
                    <div class="img-holder">
                        <div class="inner">
                            <img src="assets/images/team/team-v1-3.jpg" alt="">
                        </div>
                        <div class="title-outer-box clearfix">
                            <div class="inner clearfix">
                                <div class="title-holder">
                                    <h3><a href="#">Mendy Thomas</a></h3>
                                    <p>Marketing Head</p>
                                </div>
                                <div class="title-holder overlay">
                                    <h3><a href="#">Mendy Thomas</a></h3>
                                    <p>Marketing Head</p>
                                    <div class="social-icon">
                                        <ul>
                                            <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#" class="twitter"><i class="fa fa-twitter-square"></i></a></li>
                                            <li><a href="#" class="pinterest"><i class="fa fa-pinterest-p"></i></a></li>
                                            <li><a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>  
                </div>
            </div>
            <!-- End Single Team Item-->
        </div>
    </div>
</section>
<!--End Team Style1 Area-->


<!--Start Testimonial style1 Area-->
<section class="testimonial-style1-area style1instyle2">
    <div class="container">
        <div class="sec-title text-center">
            <div class="title-icon">
                <span class="icon-design"></span>
            </div>
            <div class="sub-title">
                <h4>Our Residents Would Recommend 100%</h4>
            </div>
            <h2>What They Saying</h2>
        </div>
        <div class="row"> 
            <div class="col-xl-12 col-lg-12">
                <div class="testimonial-style1-content">
                    <div class="testimonial-carousel owl-carousel owl-theme">
                        <!--Start Single Testimonial Style1-->
                        <div class="single-testimonial-style1">
                            <div class="text-holder">
                                <div class="text-box">
                                    <div class="arrow-bottom" style="background-image: url(assets/images/icon/testimonial-item-arrow.jpg)"></div>
                                    <p>Duis aute irure dolor reprehenderit in voluptate cilum fugiat nulla pariatur. Excepteur aintys cupidata proidents sunt in culpa qui officia desmolit anim.</p>
                                    <div class="icon-box">
                                        <span class="icon-quotes"></span>
                                    </div>
                                </div>
                                <div class="client-info">
                                    <div class="image-box">
                                        <img src="assets/images/testimonial/tes-v1-1.png" alt="">    
                                    </div>
                                    <div class="title-box">
                                        <h3>Sophia J. Milton</h3>
                                        <span>Property Owner</span>
                                    </div>
                                </div>    

                            </div>
                        </div>
                        <!--End Single Testimonial Style1-->
                        <!--Start Single Testimonial Style1-->
                        <div class="single-testimonial-style1">
                            <div class="text-holder">
                                <div class="text-box">
                                    <div class="arrow-bottom" style="background-image: url(assets/images/icon/testimonial-item-arrow.jpg)"></div>
                                    <p>Duis aute irure dolor reprehenderit in voluptate cilum fugiat nulla pariatur. Excepteur aintys cupidata proidents sunt in culpa qui officia desmolit anim.</p>
                                    <div class="icon-box">
                                        <span class="icon-quotes"></span>
                                    </div>
                                </div>
                                <div class="client-info">
                                    <div class="image-box">
                                        <img src="assets/images/testimonial/tes-v1-2.png" alt="">    
                                    </div>
                                    <div class="title-box">
                                        <h3>Sophia J. Milton</h3>
                                        <span>Property Owner</span>
                                    </div>
                                </div>    

                            </div>
                        </div>
                        <!--End Single Testimonial Style1-->
                    </div>
                 </div>
            </div>
            
        </div>
    </div>
</section>
<!--End Testimonial Style1 Area-->


<!--Start subscribe Style1 Area-->
<section class="subscribe-style1-area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="subscribe-content-box">
                    <div class="left">
                        <div class="thm-logo">
                            <span class="icon-logo thm_clr1"></span>
                        </div>
                        <div class="subscribe-title">
                            <h2>Newsletter Subscribe</h2>
                            <p>Veniam quis nostrud exercitation ullamco laboris ipsum</p>
                        </div>
                    </div>
                    <div class="subscribe-box">
                        <form class="subscribe-form black_ver" action="#">
                            <input type="email" name="email" placeholder="Email Address......">
                            <button type="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End subscribe Style1 Area-->