<header class="main-header header-style-one">
   
  <!--Start Header Top--> 
  <div class="header">
      <div class="container-box">
          <div class="outer-box clearfix">
             
              <div class="header-left clearfix pull-left">
                  <div class="logo">
                      <a href="/"><img src="assets/images/resources/logo.png" alt="Awesome Logo" title=""></a>
                  </div>
              </div>
              
              <div class="header-middle clearfix">
                  <div class="nav-outer clearfix">
                      <!--Mobile Navigation Toggler-->
                      <div class="mobile-nav-toggler">
                          <div class="inner">
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                          </div>
                      </div>
                      <!-- Main Menu -->
                      <nav class="main-menu style1 navbar-expand-md navbar-light">
                          <div class="collapse navbar-collapse show clearfix" id="navbarSupportedContent">
                              <ul class="navigation clearfix">
                                  <li ><a href="/">Home</a></li>
                                  <li><a href="/about">About</a></li>
                                  
                                  <li><a href="/developments">Apartments</a></li>
                                 
                                  <li><a href="/contact">Contact</a></li>
                              </ul>
                          </div>
                      </nav>                        
                      <!-- Main Menu End-->
                  </div>
                  
                  <div class="outer-search-box-style1">
                      <div class="seach-toggle"><i class="fa fa-search"></i></div>
                      <ul class="search-box">
                          <li>
                              <form method="post" action="https://mehedi.asiandevelopers.com/demo/apartio/index.html">
                                  <div class="form-group">
                                      <input type="search" name="search" placeholder="Search Here" required="">
                                      <button type="submit"><i class="fa fa-search"></i></button>
                                  </div>
                              </form>
                          </li>
                      </ul>
                  </div>
                     
              </div>
              
              <div class="header-right pull-right">
                  <div class="header-button-style1">
                      <ul>
                          <li class="style2"><a class="thm_bgclr1" href="tel:123456789"><span class="icon-phone"></span>1-258-985-703</a></li>
                          <li class="style1"><a href="/auth/login">Login As Admin</a></li>
                      </ul>    
                  </div>    
              </div> 
                
          </div>
      </div>    
  </div> 
  <!--End header Top-->

  <!--Sticky Header-->
  <div class="sticky-header">
      <div class="container">
          <div class="clearfix">
              <!--Logo-->
              <div class="logo float-left">
                  <a href="index-2.html" class="img-responsive"><img src="assets/images/resources/logo-2.png" alt="" title=""></a>
              </div>
              <!--Right Col-->
              <div class="right-col float-right">
                  <!-- Main Menu -->
                  <nav class="main-menu clearfix">
                  <!--Keep This Empty / Menu will come through Javascript-->
                  </nav>   
              </div>
          </div>
      </div>
  </div>
  <!--End Sticky Header-->
  
  <!-- Mobile Menu  -->
  <div class="mobile-menu">
      <div class="menu-backdrop"></div>
      <div class="close-btn"><span class="icon flaticon-multiply"></span></div>

      <nav class="menu-box">
          <div class="nav-logo"><a href="index-2.html"><img src="assets/images/resources/mobilemenu-logo.png" alt="" title=""></a></div>
          <div class="menu-outer"><!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header--></div>
          <!--Social Links-->
          <div class="social-links">
              <ul class="clearfix">
                  <li><a href="#"><span class="fab fa fa-facebook-square"></span></a></li>
                  <li><a href="#"><span class="fab fa fa-twitter-square"></span></a></li>
                  <li><a href="#"><span class="fab fa fa-pinterest-square"></span></a></li>
                  <li><a href="#"><span class="fab fa fa-google-plus-square"></span></a></li>
                  <li><a href="#"><span class="fab fa fa-youtube-square"></span></a></li>
              </ul>
          </div>
      </nav>
  </div>
  <!-- End Mobile Menu --> 
</header>
