<style>
    .custom_css {
        height: 800px;

    }
</style>
<div class="boxed_wrapper ltr">

    <section class="breadcrumb-area custom_css" [style.backgroundImage]="'url('+ customCss +')'">

        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="inner-content text-center clearfix">
                        <div class="title wow slideInDown animated" data-wow-delay="0.3s" data-wow-duration="1500ms">
                            <h2>{{ data.name }}</h2>
                        </div>
                        <div class="breadcrumb-menu wow slideInUp animated" data-wow-delay="0.3s"
                            data-wow-duration="1500ms">
                            <ul class="clearfix">
                                <li>{{ data.location}}</li>
                                <li class="active">{{ data.estimated_launch}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="welcome-style2-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-5">
                    <div class="welcome-style2-content marbtm40">
                        <div class="sec-title style3">
                            <div class="title-icon">
                                <span class="icon-design"></span>
                            </div>
                            <div class="sub-title">
                                <h4>Welcome To Apartio Real Estate</h4>
                            </div>
                            <h2>Discover The High<br> Level Standards</h2>
                        </div>
                        <div class="inner-content">
                            <p>
                                {{ data.description }}
                            </p>

                            <div>
                                <a class="btn-two" href="/assets/brochures/{{ siteBrochureCss }}" target="_blank" download="{{ siteBrochureName }}"><span class="txt">Download Brochure</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-7">
                    <div class="welcome-style2-image-box pdtop0">
                        <div class="inner-image">
                            <img src="assets/images/resources/welcome-3.jpg" alt="">

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="apartments-details-two">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="apartments-details-two-content">
                        <div class="apartments-details-text-box-two">
                            <div class="facilities-content-box">
                                <div class="row">
                                    <!--Start Single Facilities Box-->
                                    <div class="col-xl-4 col-lg-6">
                                        <div class="single-facilities-box">
                                            <div class="icon">
                                                <span class="icon-icon41 thm_clr1"></span>
                                            </div>
                                            <div class="title">
                                                <h3><a href="#">Entertainment</a></h3>
                                                <p>Get Mini Home Theatre</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!--End Single Facilities Box-->
                                    <!--Start Single Facilities Box-->
                                    <div class="col-xl-4 col-lg-6">
                                        <div class="single-facilities-box">
                                            <div class="icon">
                                                <span class="icon-icon44 thm_clr1"></span>
                                            </div>
                                            <div class="title">
                                                <h3><a href="#">Fully Secured</a></h3>
                                                <p>CCTV Security Cameras</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!--End Single Facilities Box-->
                                    <!--Start Single Facilities Box-->
                                    <div class="col-xl-4 col-lg-6">
                                        <div class="single-facilities-box">
                                            <div class="icon">
                                                <span class="icon-icon43 thm_clr1"></span>
                                            </div>
                                            <div class="title">
                                                <h3><a href="#">Chef &amp; Cooking</a></h3>
                                                <p>Kids Chair, Coffee Maker...</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!--End Single Facilities Box-->

                                    <!--Start Single Facilities Box-->
                                    <div class="col-xl-4 col-lg-6">
                                        <div class="single-facilities-box">
                                            <div class="icon">
                                                <span class="icon-icon39 thm_clr1"></span>
                                            </div>
                                            <div class="title">
                                                <h3><a href="#">Outside View</a></h3>
                                                <p>Garden, Roofed Patio</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!--End Single Facilities Box-->
                                    <!--Start Single Facilities Box-->
                                    <div class="col-xl-4 col-lg-6">
                                        <div class="single-facilities-box">
                                            <div class="icon">
                                                <span class="icon-icon42  thm_clr1"></span>
                                            </div>
                                            <div class="title">
                                                <h3><a href="#">Spa &amp; Gym</a></h3>
                                                <p>Unheated Outdoor Pool</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!--End Single Facilities Box-->
                                    <!--Start Single Facilities Box-->
                                    <div class="col-xl-4 col-lg-6">
                                        <div class="single-facilities-box">
                                            <div class="icon">
                                                <span class="icon-icon40 thm_clr1"></span>
                                            </div>
                                            <div class="title">
                                                <h3><a href="#">Sanitary Items</a></h3>
                                                <p>Hair Dryer, Towels, Tub</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!--End Single Facilities Box-->

                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="amenities-style4-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-9">
                    <div class="amenities-style4-content">
                        <div class="inner-box">
                            <div class="pattern-bg"
                                style="background-image: url(assets/images/pattern/amenities-style4-content-bg.png)">
                            </div>
                            <div class="row">
                                <!--Start Single Amenities Box Style5-->
                                <div class="col-xl-4 col-lg-6 col-md-6">
                                    <div class="single-amenities-box-style5">
                                        <div class="static-content">
                                            <div class="icon">
                                                <span class="icon-icon4"></span>
                                            </div>
                                            <h3>Pricing</h3>
                                        </div>
                                        <div class="overlay-content">
                                            <span class="icon-icon10"></span>
                                            <h3>Pricing</h3>
                                            <p>From {{ data.pricing }}</p>
                                        </div>
                                    </div>
                                </div>
                                <!--Start Single Amenities Box Style5-->
                                <!--Start Single Amenities Box Style5-->
                                <div class="col-xl-4 col-lg-6 col-md-6">
                                    <div class="single-amenities-box-style5">
                                        <div class="static-content">
                                            <div class="icon">
                                                <span class="icon-icon11"></span>
                                            </div>
                                            <h3>Bedrooms</h3>
                                        </div>
                                        <div class="overlay-content">
                                            <span class="icon-icon11"></span>
                                            <h3>Bedrooms</h3>
                                            <p>{{data.bedrooms}} Bed Homes </p>
                                        </div>
                                    </div>
                                </div>
                                <!--Start Single Amenities Box Style5-->
                                <!--Start Single Amenities Box Style5-->
                                <div class="col-xl-4 col-lg-6 col-md-6">
                                    <div class="single-amenities-box-style5">
                                        <div class="static-content">
                                            <div class="icon">
                                                <span class="icon-icon47"></span>
                                            </div>
                                            <h3>24/7 Reception</h3>
                                        </div>
                                        <div class="overlay-content">
                                            <span class="icon-icon47"></span>
                                            <h3>24/7 Reception</h3>
                                            <p>Veniam sed quis nostrud ulamc</p>
                                        </div>
                                    </div>
                                </div>
                                <!--Start Single Amenities Box Style5-->

                                <!--Start Single Amenities Box Style5-->
                                <div class="col-xl-4 col-lg-6 col-md-6">
                                    <div class="single-amenities-box-style5">
                                        <div class="static-content">
                                            <div class="icon">
                                                <span class="icon-icon12"></span>
                                            </div>
                                            <h3>Development size</h3>
                                        </div>
                                        <div class="overlay-content">
                                            <span class="icon-icon12"></span>
                                            <h3>Development size</h3>
                                            <p>{{data.development_size}} units</p>
                                        </div>
                                    </div>
                                </div>
                                <!--Start Single Amenities Box Style5-->
                                <!--Start Single Amenities Box Style5-->
                                <div class="col-xl-4 col-lg-6 col-md-6">
                                    <div class="single-amenities-box-style5">
                                        <div class="static-content">
                                            <div class="icon">
                                                <span class="icon-icon49"></span>
                                            </div>
                                            <h3>Smart Technology</h3>
                                        </div>
                                        <div class="overlay-content">
                                            <span class="icon-icon49"></span>
                                            <h3>Smart Technology</h3>
                                            <p>Veniam sed quis nostrud ulamc</p>
                                        </div>
                                    </div>
                                </div>
                                <!--Start Single Amenities Box Style5-->
                                <!--Start Single Amenities Box Style5-->
                                <div class="col-xl-4 col-lg-6 col-md-6">
                                    <div class="single-amenities-box-style5">
                                        <div class="static-content">
                                            <div class="icon">
                                                <span class="icon-icon48"></span>
                                            </div>
                                            <h3>Estimated launch</h3>
                                        </div>
                                        <div class="overlay-content">
                                            <span class="icon-icon48"></span>
                                            <h3>Estimated launch</h3>
                                            <p>{{data.estimated_launch}}</p>
                                        </div>
                                    </div>
                                </div>
                                <!--Start Single Amenities Box Style5-->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3">
                    <div class="amenities-style4-image-box">
                        <div class="inner">
                            <img src="assets/images/resources/amenities-style4-image.jpg" alt="">
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>

    <section class="gallery-area  ">
        <div class="container-box">
            <div class="row">
                <!--Start Single Gallery Item-->
                <div class="col-xl-3 col-lg-3 col-md-6">
                    <div class="single-gallery-item">
                        <div class="img-holder">
                            <img src="assets/images/gallery/gallery-v1-1.jpg" alt="Awesome Image">
                            <div class="zoom-button">
                                <a class="lightbox-image" data-fancybox="gallery"
                                    href="assets/images/gallery/gallery-v1-1.jpg">
                                    <i class="fa fa-search-plus" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End Single Gallery Item-->
                <!--Start Single Gallery Item-->
                <div class="col-xl-3 col-lg-3 col-md-6">
                    <div class="single-gallery-item">
                        <div class="img-holder">
                            <img src="assets/images/gallery/gallery-v1-2.jpg" alt="Awesome Image">
                            <div class="zoom-button">
                                <a class="lightbox-image" data-fancybox="gallery"
                                    href="assets/images/gallery/gallery-v1-2.jpg">
                                    <i class="fa fa-search-plus" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End Single Gallery Item-->
                <!--Start Single Gallery Item-->
                <div class="col-xl-3 col-lg-3 col-md-6">
                    <div class="single-gallery-item">
                        <div class="img-holder">
                            <img src="assets/images/gallery/gallery-v1-3.jpg" alt="Awesome Image">
                            <div class="zoom-button">
                                <a class="lightbox-image" data-fancybox="gallery"
                                    href="assets/images/gallery/gallery-v1-3.jpg">
                                    <i class="fa fa-search-plus" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End Single Gallery Item-->
                <!--Start Single Gallery Item-->
                <div class="col-xl-3 col-lg-3 col-md-6">
                    <div class="single-gallery-item">
                        <div class="img-holder">
                            <img src="assets/images/gallery/gallery-v1-4.jpg" alt="Awesome Image">
                            <div class="zoom-button">
                                <a class="lightbox-image" data-fancybox="gallery"
                                    href="assets/images/gallery/gallery-v1-4.jpg">
                                    <i class="fa fa-search-plus" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End Single Gallery Item-->
                <!--Start Single Gallery Item-->
                <div class="col-xl-3 col-lg-3 col-md-6">
                    <div class="single-gallery-item">
                        <div class="img-holder">
                            <img src="assets/images/gallery/gallery-v1-5.jpg" alt="Awesome Image">
                            <div class="zoom-button">
                                <a class="lightbox-image" data-fancybox="gallery"
                                    href="assets/images/gallery/gallery-v1-5.jpg">
                                    <i class="fa fa-search-plus" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End Single Gallery Item-->
                <!--Start Single Gallery Item-->
                <div class="col-xl-3 col-lg-3 col-md-6">
                    <div class="single-gallery-item">
                        <div class="img-holder">
                            <img src="assets/images/gallery/gallery-v1-6.jpg" alt="Awesome Image">
                            <div class="zoom-button">
                                <a class="lightbox-image" data-fancybox="gallery"
                                    href="assets/images/gallery/gallery-v1-6.jpg">
                                    <i class="fa fa-search-plus" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End Single Gallery Item-->
                <!--Start Single Gallery Item-->
                <div class="col-xl-3 col-lg-3 col-md-6">
                    <div class="single-gallery-item">
                        <div class="img-holder">
                            <img src="assets/images/gallery/gallery-v1-7.jpg" alt="Awesome Image">
                            <div class="zoom-button">
                                <a class="lightbox-image" data-fancybox="gallery"
                                    href="assets/images/gallery/gallery-v1-7.jpg">
                                    <i class="fa fa-search-plus" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End Single Gallery Item-->
                <!--Start Single Gallery Item-->
                <div class="col-xl-3 col-lg-3 col-md-6">
                    <div class="single-gallery-item">
                        <div class="img-holder">
                            <img src="assets/images/gallery/gallery-v1-8.jpg" alt="Awesome Image">
                            <div class="zoom-button">
                                <a class="lightbox-image" data-fancybox="gallery"
                                    href="assets/images/gallery/gallery-v1-8.jpg">
                                    <i class="fa fa-search-plus" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End Single Gallery Item-->
            </div>
        </div>
    </section>

    <section class="video-gallery-area style3">
        <div class="container-fullwidth" style="background-image: url(assets/images/resources/video-gallery-bg-3.jpg)">
            <div class="row">
                <div class="col-xl-12">
                    <div class="video-holder-box text-center">
                        <div class="icon wow zoomIn" data-wow-delay="300ms" data-wow-duration="1500ms"
                            style="visibility: visible;">
                            <div class="border-box"></div>
                            <a class="video-popup" title="CarePress Video Gallery"
                                href="https://www.youtube.com/watch?v=p25gICT63ek">
                                <img src="assets/images/icon/play-btn.png" alt="">
                            </a>
                        </div>
                        <h2>Apartio offers excellent<br> combination of location &amp; quality </h2>
                        <p>Take a Full Video Tour</p>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <section class="place-style1-area">
        <div class="container">
            <div class="sec-title text-center">
                <div class="title-icon">
                    <span class="icon-design"></span>
                </div>
                <div class="sub-title">
                    <h4>Apartio With Best Deals &amp; Favours</h4>
                </div>
                <h2>ideal Place For living<br> And Business</h2>
            </div>
            <div class="row">
                <div class="col-xl-6">
                    <div class="place-style1-content">
                        <div class="title">
                            <h3>What’s Around Here?</h3>
                        </div>


                        <div class="place-distance-box">
                            <ul>
                                <li>
                                    <div class="icon">
                                        <span class="icon-icon16"></span>
                                    </div>
                                    <b>University / Collage</b>
                                    <div class="text">
                                        <p>1.0 Km</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <span class="icon-icon17"></span>
                                    </div>
                                    <b>Hospital</b>
                                    <div class="text">
                                        <p>1.5 Km</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <span class="icon-icon18"></span>
                                    </div>
                                    <b>Railway Station</b>
                                    <div class="text">
                                        <p>1.0 Km</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <span class="icon-icon19"></span>
                                    </div>
                                    <b>Bus Station</b>
                                    <div class="text">
                                        <p>1.5 Km</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <span class="icon-icon20"></span>
                                    </div>
                                    <b>Bank / ATM</b>
                                    <div class="text">
                                        <p>0.3 Km</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <span class="icon-icon21"></span>
                                    </div>
                                    <b>Airport</b>
                                    <div class="text">
                                        <p>0.1 Km</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <span class="icon-icon22"></span>
                                    </div>
                                    <b>Children Parks</b>
                                    <div class="text">
                                        <p>0.3 Km</p>
                                    </div>
                                </li>

                            </ul>
                        </div>

                    </div>
                </div>

                <div class="col-xl-6">
                    <div class="neighbour-style2-image-box mt-4 ml--8"
                        style="background-image: url(assets/images/resources/neighbour-style2-image.jpg)"></div>

                </div>

            </div>
        </div>
    </section>
    <section class="apartments-style1-area">

        <div class="container">
            <div class="row">
                <div class="sec-title">
                    <div class="title-icon">
                        <span class="icon-design"></span>
                    </div>
                    <h2>House Types</h2>
                </div>
                 <!--Start Single Apartments Style1-->
                <ng-container *ngFor="let house of houseData">
                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <div class="single-apartments-style1">
                            <div class="img-holder">
                                <div class="inner">
                                    <img src="assets/houseTypes/{{house.image}}" alt="">
                                </div>
                                <div class="button-box">
                                    <a class="thm_bgclr1" href="/house-detail/{{house.id}}"><span class="flaticon-up-arrow"></span></a>
                                </div>
                            </div>
                            <div class="text-holder">
                                <h2>{{house.name}}</h2>
                                <p>Starts From {{house.total_size}} Sq ft</p>
                                <p>Price  {{house.pricing}}$</p>
                                <div class="button">
                                    <a href="/house-detail/{{house.id}}">Explore</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </ng-container>
               
                
                <!--End Single Apartments Style1-->
                



            </div>
        </div>
    </section>


    <section >
        
        <img src="./assets/SitePlans/{{sitePlanCss}}" alt="" style="height: 800px; width: 100%; padding-left: 30px;padding-right: 30px; position: relative;">
        
    </section>
    <br><br><br>


</div>


<button class="scroll-top scroll-to-target thm_bgclr1" data-target="html">
    <span class="fa fa-angle-up"></span>
</button>