  <!-- <body data-layout="horizontal"> -->
    <div></div>
    <div class="auth-page bg-white bor  " style="background-color: gainsboro;">
      <div class="container-fluid p-0">
          <div class="row g-0">
              <div class="col-xxl-3 col-lg-4 col-md-5">
                  <div class="auth-full-page-content d-flex p-sm-5 p-4">
                      <div class="w-100">
                          <div class="d-flex flex-column h-100">
                              <div class="auth-content my-auto">
                                  <div class="text-center">
                                      <h5 class="mb-0">Welcome Back !</h5>
                                      <p class="text-muted mt-2">Sign in to continue.</p>
                                  </div>
                                  <app-message></app-message>
                             
                                  <form role="form" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
                                    <div class="form-group">
                                      <div class="input-group input-group-alternative mb-3">
                                        <div class="input-group-prepend">
                                          <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                                        </div>
                                        <input formControlName="username" class="form-control" placeholder="Name" type="text">
                                        <small class="error" *ngIf="f.username.invalid && (f.username.dirty || f.username.touched)">
                                          <div *ngIf="f.username.hasError('required')">This field is required.</div>
                                          <div *ngIf="f.username.hasError('pattern')">Only alphanumeric is allowed.</div>
                                      </small>
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <div class="input-group input-group-alternative">
                                        <div class="input-group-prepend">
                                          <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                        </div>
                                        <input formControlName="password"  class="form-control" placeholder="Password" type="password">
                                        <small class="error" *ngIf="f.password.invalid && (f.password.dirty || f.password.touched)">
                                          <div *ngIf="f.password.hasError('required')">This field is required.</div>
                                          <div *ngIf="f.password.hasError('minlength')">Password must be at least 6 characters.</div>
                                      </small>
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <div class="input-group input-group-alternative">
                                        <div class="input-group-prepend">
                                          <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                        </div>
                                        <input formControlName="passconf" class="form-control" placeholder=" Confirm Password" type="password">
                                        <small class="error" *ngIf="f.passconf.invalid && (f.passconf.dirty || f.passconf.touched)">
                                          <div *ngIf="f.passconf.hasError('required')">This field is required.</div>
                                      </small>
                                      <small class="error" *ngIf="signupForm.errors?.passwordmatch && (signupForm.dirty || signupForm.touched)">
                                          Password and confirm password must be match.
                                      </small>
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <div class="input-group input-group-alternative mb-3">
                                        <div class="input-group-prepend">
                                          <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                        </div>
                                        <input formControlName="email" class="form-control" placeholder="Email" type="email">
                                        <small class="error" *ngIf="f.email.invalid && (f.email.dirty || f.email.touched)">
                                          <div *ngIf="f.email.hasError('required')">This field is required.</div>
                                          <div *ngIf="f.email.hasError('email')">Enter valid email address.</div>
                                      </small>
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <div class="input-group input-group-alternative mb-3">
                                        <div class="input-group-prepend">
                                          <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                                        </div>
                                        <input formControlName="first_name" class="form-control" placeholder=" First Name" type="text">
                                        <small class="error" *ngIf="f.first_name.invalid && (f.first_name.dirty || f.first_name.touched)">
                                          <div *ngIf="f.first_name.hasError('required')">This field is required.</div>
                                      </small>
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <div class="input-group input-group-alternative mb-3">
                                        <div class="input-group-prepend">
                                          <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                                        </div>
                                        <input formControlName="last_name" class="form-control" placeholder="Last Name" type="text">
                                        
                                      </div>
                                    </div>
                                    
                                    <div class="row my-4">
                                      <div class="col-12">
                                        <div class="custom-control custom-control-alternative custom-checkbox">
                                          <input class="custom-control-input" id="customCheckRegister" type="checkbox">
                                          <label class="custom-control-label" for="customCheckRegister">
                                            <span class="text-muted">I agree with the <a href="#!">Privacy Policy</a></span>
                                          </label>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="text-center">
                                      <button type="submit" [disabled]="signupForm.invalid" class="btn btn-primary mt-4">Create account</button>
                                    </div>
                                  </form>

                                  <div class="mt-5 text-center">
                                    <p class="text-muted mb-0">Have an account ?  
                                      <a routerLink="/auth/login" class="text-dark">Login</a>
                                    </p>
                                    
                                  </div>
                              </div>
                             
                          </div>
                      </div>
                  </div>
                  <!-- end auth full page content -->
              </div>
              <!-- end col -->
              <div class="col-xxl-9 col-lg-8 col-md-7">
                  <div class="auth-bg pt-md-5 p-4 d-flex">
                      <div class="bg-overlay bg-primary"></div>
                      <ul class="bg-bubbles">
                          <li></li>
                          <li></li>
                          <li></li>
                          <li></li>
                          <li></li>
                          <li></li>
                          <li></li>
                          <li></li>
                          <li></li>
                          <li></li>
                      </ul>
                      <!-- end bubble effect -->
                   
                  </div>
              </div>
              <!-- end col -->
          </div>
          <!-- end row -->
         
      </div>
      <!-- end container fluid -->
  </div>


  
