<!--Start breadcrumb area-->     
<section class="breadcrumb-area" style="background-image: url(assets/images/breadcrumb/breadcrumb-1.jpg);">
    <div class="border-box">
        <ul>
            <li></li>
            <li class="middle"></li>
            <li></li>
        </ul>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="inner-content text-center clearfix">
                    <div class="title wow slideInDown animated" data-wow-delay="0.3s" data-wow-duration="1500ms">
                       <h2>Developments</h2>
                    </div>
                    <div class="breadcrumb-menu wow slideInUp animated" data-wow-delay="0.3s" data-wow-duration="1500ms">
                        <ul class="clearfix">
                            <li><a href="index-2.html">Home</a></li>
                            <li class="active">Developments</li>
                        </ul>    
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End breadcrumb area-->
<!--Start Apartments Style2 Area-->
<section class="gallery-area">
    <div class="container-box">
        <div class="row">
            <!--Single Apartments-Style2-->
            <ng-container *ngFor="let row of rows">
                <div class="col-xl-4 col-lg-4">
                    <div class="single-apartments-style2">
                        <div class="img-holder">
                            <div class="inner">
                                <img src="assets/developments/{{ row.image}}" alt="">
                            </div>
                            <div class="overlay-title">
                                <h2>{{ row.name }}</h2>
                                <div class="button">
                                    <a [routerLink]="['../development-detail/', row.id]" >Explore</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
            
        </div>
    </div>
</section>
<!--End Apartments Style2 Area-->


<!--Start subscribe Style1 Area-->
<section class="subscribe-style1-area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="subscribe-content-box">
                    <div class="left">
                        <div class="thm-logo">
                            <span class="icon-logo thm_clr1"></span>
                        </div>
                        <div class="subscribe-title">
                            <h2>Newsletter Subscribe</h2>
                            <p>Veniam quis nostrud exercitation ullamco laboris ipsum</p>
                        </div>
                    </div>
                    <div class="subscribe-box">
                        <form class="subscribe-form black_ver" action="#">
                            <input type="email" name="email" placeholder="Email Address......">
                            <button type="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End subscribe Style1 Area-->