
<div class="boxed_wrapper ltr">

    <section class="breadcrumb-area" style=" height: 800px; background-image: url(assets/images/slides/slide-v1-2.jpg);">
        
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="inner-content text-center clearfix">
                        <div class="title wow slideInDown animated" data-wow-delay="0.3s" data-wow-duration="1500ms">
                           <h2>Home of the new.</h2>
                        </div>
                        <div class="breadcrumb-menu wow slideInUp animated" data-wow-delay="0.3s" data-wow-duration="1500ms">
                            <ul class="clearfix">
                                <li>Quality family homes in flourishing communities across Ireland.</li>
                                
                            </ul>    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> 
  
  
  <!--Start intro Style1 Area-->
  <section class="gallery-area">
   
    <div class="container-box">
        <div class="row">
            <div class="col-xl-6">
                <div class="intro-style1-content-box pl-8">
                    <h2>Looking for a new home?</h2>
                    <p>Our homes are designed for family living, with large living areas, seeded rear gardens and modern kitchens. Each property has an A-rating for energy resulting in lower energy costs. We incorporate sustainable and renewable technology to reduce our carbon footprint.</p>
                    <div class="button-box">
                        <a class="btn-two" href="#"><span class="txt">Find Your New Home</span></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 pt-5">
                <div class="intro-style1-image-box">
                    <ul class="top">
                        <li>
                            <div class="inner-box">
                                <img src="assets/images/resources/intro-3.png" alt="">
                            </div>
                        </li>    
                    </ul>
                    <ul>
                        <li>
                            <div class="inner-box">
                                <div class="img-box">
                                    <img src="assets/images/resources/intro-1.png" alt="">    
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="inner-box">
                                <div class="img-box">
                                    <img src="assets/images/resources/intro-2.png" alt="">    
                                </div>
                            </div>
                        </li>
                    </ul>
                    <ul class="bottom">
                        <li>
                            <div class="inner-box">
                                <div class="img-box">
                                    <img src="assets/images/resources/intro-3.png" alt="">    
                                </div>
                            </div>
                        </li>
                    </ul>
                    
                </div>    
            </div>
        </div>
    </div>
  </section>
  <!--End intro Style1 Area-->
  
  <!--Start welcome Area-->
  <section class="gallery-area">
    
    <div >
        
        <div class="row">
            <div class="col-xl-12">
                <div class="welcome-style1-content">
                    
                    <div class="top">
                        <ul>
                            <li>
                              
                                <div class=" img-box">
                                    <div class="inner">
                                        <img src="assets/images/resources/welcome-1.jpg" alt="">
                                    </div>
                                </div>
                                <div class=" pl-8 text-box">
                                    <h2>A Dream Living Space</h2>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed tempor incididunt ut labore et <br>dolore magna aliqua. Ut enim veniam quis nostrud exercitation lamco.</p>
                                    <div class="theme-shape pdtop30">
                                        <ul class="theme-shape-box clearfix text-center">
                                            <li class="shap_item paroller-2"><span class="icon-pic1"></span></li>
                                            <li class="shap_item paroller-2"><span class="icon-pic2"></span></li>
                                            <li class="shap_item paroller-2"><span class="icon-pic3"></span></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    
                    <div class="bottom">
                        <ul>
                            <li>
                                <div class="text-box">
                                    <h2>No-Compromise Quality</h2>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed tempor incididunt ut labore et dolore magna aliqua. Ut enim veniam quis nostrud exercitation lamco.</p>
                                    <div class="theme-shape pdtop30">
                                        <ul class="theme-shape-box clearfix text-center">
                                            <li class="shap_item paroller-2"><span class="icon-pic1"></span></li>
                                            <li class="shap_item paroller-2"><span class="icon-pic2"></span></li>
                                            <li class="shap_item paroller-2"><span class="icon-pic3"></span></li>
                                        </ul>
                                    </div>
                                </div>
                              
                                <div class="img-box pl-8">
                                    <div class="inner">
                                        <img src="assets/images/resources/welcome-2.jpg" alt="">
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
  </section>
  <!--End welcome Area-->
  
  
  
  <section class="gallery-area" >
    <div class="container-box">
        <div class="row">
            <!--Start Single Apartments Style1-->
            <ng-container *ngFor="let row of rows">
                <div  class="col-xl-4 col-lg-6 col-md-6">
                    <div class="single-apartments-style1">
                         <div class="img-holder">
                             <div class="inner">
                                <img src="assets/developments/{{ row.image}}" alt="">
                             </div>
                             <div class="button-box">
                                 <a class="thm_bgclr1"[routerLink]="['development-detail/', row.id]"><span class="flaticon-up-arrow"></span></a>
                             </div>
                         </div>
                         <div class="text-holder">
                             <h2>{{ row.name }}</h2>
                             <p>Starts From {{ row.pricing }}</p>
                             <div class="button">
                                <a [routerLink]="['development-detail/', row.id]" >Explore</a>
                                
                             </div>
                         </div>
                     </div>
                 </div>
                
            </ng-container>
            
            
        </div>
    </div>
  </section>
  <!--End  Apartments Style1 Area-->
  
  <!--Start Gallery Area-->
  <section class="gallery-area">
    <div class="container-box">
        <div class="sec-title text-center">
            <div class="title-icon">
                <span class="icon-design"></span>
            </div>
            <div class="sub-title">
                <h4>Gallery</h4>
            </div>
            <h2>Modern & luxury</h2>
        </div>
        <div class="row">
            <!--Start Single Gallery Item-->
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="single-gallery-item">
                    <div class="img-holder">
                        <img src="assets/images/gallery/gallery-v1-1.jpg" alt="Awesome Image">
                        <div class="zoom-button">
                            <a class="lightbox-image" data-fancybox="gallery" href="assets/images/gallery/gallery-v1-1.jpg">
                                <i class="fa fa-search-plus" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>    
                </div>
            </div>
            <!--End Single Gallery Item-->
            <!--Start Single Gallery Item-->
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="single-gallery-item">
                    <div class="img-holder">
                        <img src="assets/images/gallery/gallery-v1-2.jpg" alt="Awesome Image">
                        <div class="zoom-button">
                            <a class="lightbox-image" data-fancybox="gallery" href="assets/images/gallery/gallery-v1-2.jpg">
                                <i class="fa fa-search-plus" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>    
                </div>
            </div>
            <!--End Single Gallery Item-->
            <!--Start Single Gallery Item-->
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="single-gallery-item">
                    <div class="img-holder">
                        <img src="assets/images/gallery/gallery-v1-3.jpg" alt="Awesome Image">
                        <div class="zoom-button">
                            <a class="lightbox-image" data-fancybox="gallery" href="assets/images/gallery/gallery-v1-3.jpg">
                                <i class="fa fa-search-plus" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>    
                </div>
            </div>
            <!--End Single Gallery Item-->
            <!--Start Single Gallery Item-->
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="single-gallery-item">
                    <div class="img-holder">
                        <img src="assets/images/gallery/gallery-v1-4.jpg" alt="Awesome Image">
                        <div class="zoom-button">
                            <a class="lightbox-image" data-fancybox="gallery" href="assets/images/gallery/gallery-v1-4.jpg">
                                <i class="fa fa-search-plus" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>    
                </div>
            </div>
            <!--End Single Gallery Item--> 
            <!--Start Single Gallery Item-->
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="single-gallery-item">
                    <div class="img-holder">
                        <img src="assets/images/gallery/gallery-v1-5.jpg" alt="Awesome Image">
                        <div class="zoom-button">
                            <a class="lightbox-image" data-fancybox="gallery" href="assets/images/gallery/gallery-v1-5.jpg">
                                <i class="fa fa-search-plus" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>    
                </div>
            </div>
            <!--End Single Gallery Item-->
            <!--Start Single Gallery Item-->
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="single-gallery-item">
                    <div class="img-holder">
                        <img src="assets/images/gallery/gallery-v1-6.jpg" alt="Awesome Image">
                        <div class="zoom-button">
                            <a class="lightbox-image" data-fancybox="gallery" href="assets/images/gallery/gallery-v1-6.jpg">
                                <i class="fa fa-search-plus" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>    
                </div>
            </div>
            <!--End Single Gallery Item--> 
            <!--Start Single Gallery Item-->
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="single-gallery-item">
                    <div class="img-holder">
                        <img src="assets/images/gallery/gallery-v1-7.jpg" alt="Awesome Image">
                        <div class="zoom-button">
                            <a class="lightbox-image" data-fancybox="gallery" href="assets/images/gallery/gallery-v1-7.jpg">
                                <i class="fa fa-search-plus" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>    
                </div>
            </div>
            <!--End Single Gallery Item-->
            <!--Start Single Gallery Item-->
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="single-gallery-item">
                    <div class="img-holder">
                        <img src="assets/images/gallery/gallery-v1-8.jpg" alt="Awesome Image">
                        <div class="zoom-button">
                            <a class="lightbox-image" data-fancybox="gallery" href="assets/images/gallery/gallery-v1-8.jpg">
                                <i class="fa fa-search-plus" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>    
                </div>
            </div>
            <!--End Single Gallery Item-->                       
        </div>
    </div>
  </section>
  <!--End Gallery Area-->
  
  
  <!--Start subscribe Style1 Area-->
  
  <section class="gallery-area">
      <div class="container-box">
          <div class="row">
              <div class="col-xl-12">
                  <div class="subscribe-content-box">
                      <div class="left">
                          <div class="thm-logo">
                              <span class="icon-logo thm_clr1"></span>
                          </div>
                          <div class="subscribe-title">
                              <h2>Newsletter Subscribe</h2>
                              <p>Veniam quis nostrud exercitation ullamco laboris ipsum</p>
                          </div>
                      </div>
                      <div class="subscribe-box">
                          <form class="subscribe-form black_ver" action="#">
                              <input type="email" name="email" placeholder="Email Address......">
                              <button type="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!--End subscribe Style1 Area-->
  
  
  
  
  </div> 
  
  
  <button class="scroll-top scroll-to-target thm_bgclr1" data-target="html">
      <span class="fa fa-angle-up"></span>
  </button> 







  
  