<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Card stats -->
        </div>
    </div>
  </div>
  <div class="container-fluid mt--6 mb-5" >
    <div class="row">
     
      <div class="col-xl-12">
        <div class="card shadow">
          <div class="card-header bg-transparent">
            <div class="row align-items-center">
              <div class="col">
                
                <h2 class="mb-0">Add Development Site Plan</h2>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-8">
                <form [formGroup]="userForm" (ngSubmit)="PostData()" enctype="multipart/form-data">
                  <h6 class="heading-small text-muted mb-4">Development Site Plan information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                      <div class="form-group">
                      <label class="form-control-label" >Site Plan Name</label>
                      <input formControlName="name" type="text" id="name" required  class="form-control form-control-alternative" placeholder=" Name" name="name">
                      
                      </div>
                </div>
              </div>
              
            </div>
            <hr class="my-4" />
            <div class="form-group row">
              <h6 class="heading-small text-muted mb-4">Site Plan File</h6>
              <div class="col-sm-9">
                <input type="text" class="form-control" hidden formControlName='photo'
                  [ngClass]="{'is-invalid': submitted && userForm.controls.photo.invalid}">
                <file-uploader (onFileSelect)="onFileSelect($event)"></file-uploader>
                <div class="invalid-feedback" *ngIf="submitted && userForm.controls.photo.invalid">
                  <div *ngIf="userForm.controls.photo.errors.required">Photo is required</div>
                </div>
                <div class="text-danger" *ngIf="uploadError">{{uploadError}}</div>
              </div>
            </div>
            <hr class="my-4"/>
            <!-- Address -->
            <div class="pl-lg-4">
              <div class="form-group">
                <label class="form-control-label" >Development</label>
                <select formControlName="development" class="form-control form-control-alternative" >
                    <option [ngValue]="null" disabled>Select Development</option>
                    <option *ngFor="let development of developments" [ngValue]="development.id">{{development.name}}</option>
                  </select>
              </div>
            </div>
                  
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label">&nbsp;</label>
                    <div class="col-sm-10">
                      <button type="submit" class="btn btn-primary">Submit</button>
                      <button type="button" class="btn btn-default">Cancel</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <!--end-->
        </div>
    
        </div>
      </div>
    </div>
    
  </div>