<app-header></app-header>
  <router-outlet></router-outlet>
<!--Start footer area-->  
<footer class="footer-area style3">
    <div class="container-box">
        <div class="footer-bottom">
            <div class="container">
                <div class="outer-box">
                    <div class="copyright-text">
                        <p>(c) 2020 All rights reserved. <a href="#">Privacy Policy</a> | <a href="#">Booking Guide</a></p>
                    </div>
                    
                </div>    
            </div>    
        </div>
        
    </div>
</footer> 
