<section class="breadcrumb-area" style="background-image: url(assets/images/breadcrumb/breadcrumb-3.jpg);">
    <div class="border-box">
        <ul>
            <li></li>
            <li class="middle"></li>
            <li></li>
        </ul>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="inner-content text-center clearfix">
                    <div class="title wow slideInDown animated" data-wow-delay="0.3s" data-wow-duration="1500ms">
                       <h2>Contact Us</h2>
                    </div>
                    <div class="breadcrumb-menu wow slideInUp animated" data-wow-delay="0.3s" data-wow-duration="1500ms">
                        <ul class="clearfix">
                            <li><a href="index-2.html">Home</a></li>
                            <li class="active">Contact Us</li>
                        </ul>    
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End breadcrumb area-->






<!--Start Contact Info Area-->
<section class="contact-info-area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12">
                <ul class="contact-info-box">
                    <li class="single-contact-info-box">
                        <div class="icon">
                            <span class="icon-icon68"></span>
                        </div>
                        <div class="text">
                            <h3>Phone Us</h3>
                            <p><a href="tel:123456789">+1 (258) 985 703</a></p>
                            <p><a href="tel:123456789">+1 (258) 985 808</a></p>
                        </div>
                    </li>
                    <li class="single-contact-info-box">
                        <div class="icon">
                            <span class="icon-icon67"></span>
                        </div>
                        <div class="text">
                            <h3>Visit Us</h3>
                            <p>31 Camden Place, High Mills<br> Newyork - USA 10930</p>
                        </div>
                    </li>
                    <li class="single-contact-info-box">
                        <div class="icon">
                            <span class="icon-icon66"></span>
                        </div>
                        <div class="text">
                            <h3>Email Us</h3>
                            <p><a href="mailto:logistic@email.com">support@apartio.com</a><br> <a href="tel:123456789">info@domain.com</a></p>
                        </div>
                    </li>
                </ul>
            </div>  
        </div>
    </div>    
</section>
<!--End Contact Info Area-->
<!--Start Contact Form Style1 Area-->
<section class="contact-form-style1-area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="contact-form-outer-box clearfix">
                    <!--Start Contact Inner Box-->
                    <div class="contact-inner-box clearfix">
                        
                        <div class="contact-form">
                            <div class="sec-title">
                                <div class="title-icon">
                                    <span class="icon-design"></span>
                                </div>
                                <div class="sub-title">
                                    <h4>Any Questions? Feel Free To Ask</h4>
                                </div>
                                <h2>GET IN TOUCH</h2>
                            </div>
                            <form id="contact-form" name="contact_form" class="default-form2" action="https://mehedi.asiandevelopers.com/demo/apartio/assets/inc/sendmail.php" method="post">
                                <div class="row">
                                    <div class="col-xl-12">
                                        <div class="input-box"> 
                                            <input type="text" name="form_name" value="" placeholder="Your name" required="">
                                        </div>
                                        <div class="input-box"> 
                                            <input type="email" name="form_email" value="" placeholder="Email address" required="">
                                        </div>
                                        <div class="input-box"> 
                                            <input type="text" name="form_phone" value="" placeholder="Phone number">
                                        </div>
                                        <div class="input-box"> 
                                            <input type="text" name="form_subject" value="" placeholder="Subject">
                                        </div>
                                        <div class="input-box">    
                                            <textarea name="form_message" placeholder="Write message" required=""></textarea>
                                        </div>
                                        <div class="button-box">
                                            <input id="form_botcheck" name="form_botcheck" class="form-control" type="hidden" value="">
                                            <button class="btn-one style2" type="submit" data-loading-text="Please wait...">
                                                <span class="txt">Send Message</span>
                                            </button> 
                                        </div>         
                                    </div>
                                </div>
                            </form>
                        </div>
                        
                        <div class="contact-image-box">
                            <img src="assets/images/resources/contact-image.jpg" alt="">    
                        </div>
                        
                    </div>
                    <!--End Contact Inner Box-->
                </div>   
            </div>
        </div>
        
    </div>
</section>
<!--End Contact Form Style1 Area-->

<!--Start subscribe Style1 Area-->
<section class="subscribe-style1-area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="subscribe-content-box">
                    <div class="left">
                        <div class="thm-logo">
                            <span class="icon-logo thm_clr1"></span>
                        </div>
                        <div class="subscribe-title">
                            <h2>Newsletter Subscribe</h2>
                            <p>Veniam quis nostrud exercitation ullamco laboris ipsum</p>
                        </div>
                    </div>
                    <div class="subscribe-box">
                        <form class="subscribe-form black_ver" action="#">
                            <input type="email" name="email" placeholder="Email Address......">
                            <button type="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End subscribe Style1 Area-->
